# Optional, displayed on top left
location = ''
# NOAA Station Code for tide data
station_id = #######

# For weather data
# Create Account on openweathermap.com and get API key
api_key = ''

# Get LATITUDE and LONGITUDE of location
latitude = 'XX.XXX'
longitude = '-XX.XXX'
units = 'imperial'

timezone = "America/Los_Angeles"